body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  background-color: aliceblue;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
