.progress-bar {
	display: flex;
	width: 100%;
}

.progress-bar__completed {
	height: 5px;
	transition: width 0.1s;
	transition-timing-function: ease-in-out;
	transform-origin: 0% 0%;
}

.progress-bar__remaining {
	height: 5px;
	background-color: rgb(202, 202, 202);
	transition: width 0.1s;
	transition-timing-function: ease-in-out;
	transform-origin: 0% 0%;
}
