.worm-body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 48px;
	height: 92px;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	background: #252a34;
	transform-origin: top left;
	margin: 20px;
}

.worm-body__eyes {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.worm-body__eye {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ff2e63;
}

.worm-body__tongue {
	margin: 0 auto 0 auto;
	width: 10px;
	height: 10px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background: white;
}
